@import url("email.css");
@import url("auth.css");
@import url("player.css");

html, body, #YMapsID {
		width: 100%;
		height: 100%;
		font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
		font-size: 12px;overflow-x:hidden;
		padding: 0px;
		margin: 0px;
	}
        
	body {
		margin: 0;
		padding: 0;
	}
	#message {
		position:absolute;
		opacity:.8;
		top:50%;
		margin-top:-105px;
		right:-225px;
		margin-right:-215px;
		z-index:2;
	}
	#message div {
		background-color:black;
		width:430px;
		height:210px;
		color:white;
		padding:0px 5px 5px 5px;
		border-radius:3px;
	}

	

	#right_panel {
		display:block;
		position:absolute;
		right:0px;
		top:0px;
		z-index:2;
		width: 200px;
		height: 100%;
		text-align: right;
		/*background-color: red;*/
	}