html, body, #YMapsID {
		width: 100%;
		height: 100%;
		font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
		font-size: 12px;overflow-x:hidden;
		padding: 0px;
		margin: 0px;
	}
        
	body {
		margin: 0;
		padding: 0;
	}
	#message {
		position:absolute;
		opacity:.8;
		top:50%;
		margin-top:-105px;
		right:-225px;
		margin-right:-215px;
		z-index:2;
	}
	#message div {
		background-color:black;
		width:430px;
		height:210px;
		color:white;
		padding:0px 5px 5px 5px;
		border-radius:3px;
	}
	#email {
		display:block;
		position:absolute;
		right:5px;
		bottom:0px;
		z-index:2;
		opacity:.8;
		background-color:black;
		color:white;
		font-size:14px;
		padding:5px 5px 5px 5px;
	}
	#email a {
		color:white;
		text-decoration: none;
	}
	#email a:hover {
		color:white;
		text-decoration: none;
	}
	#email a:active {
		color:white;
		text-decoration: none;
	}
	#email a:visited {
		color:white;
		text-decoration: none;
	}

	#sign {
		display:-moz-inline-stack;display:inline-block;_overflow:hidden;*zoom:1;*display:inline;
		position:relative;
		right:0px;
		z-index:2;
		background-color:#4c8efb;
		background-repeat: no-repeat;
		background-position: 95% 50%;
		color:white;
		font-size:14px;
		padding:4px 30px 5px 5px;
		margin: 5px;
		color:white;
		text-decoration: none;
	}
	#sign :hover {
		color:white;
		text-decoration: none;
	}
	#sign :active {
		color:white;
		text-decoration: none;
	}
	#sign :visited {
		color:white;
		text-decoration: none;
	}
	.signin{
		background-image: url(/media/img/signin.png);
	}
	.signout{
		background-image: url(/media/img/signout.png);
	}
	.loading{
		background-image: none;
	}

	#right_panel {
		display:block;
		position:absolute;
		right:0px;
		top:0px;
		z-index:2;
		width: 200px;
		height: 100%;
		text-align: right;
		/*background-color: red;*/
	}